.speaker img {
    border-radius: 50%;
    width: 70%;
    margin-bottom: 20px;
}

.speaker p {
    margin: 0px;
    font-size: 20px !important;
    max-width: 90%;
    margin: auto;
}

.speaker .card-body {
    min-height: 370px;
}
