@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
body {
  background-color: #1d1d1d;
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
}

.navbar {
  border: 1px solid #c8a157;
}

.nav-link {
  text-transform: uppercase;
  color: #c8a157 !important;
  font-size: 1.1rem;
  padding-top: 15px;
}

.navbar-brand {
  padding-left: 5px;
  padding-top: 20px;
}

.btn-outline-warning:active,
.btn-outline-warning:hover,
.btn-outline-light:active,
.btn-outline-light:hover {
  background-color: #c8a157 !important;
  border-color: #c8a157 !important;
  color: #1d1d1d !important;
}

.btn-outline-light {
  border-color: #c8a157 !important;
  color: #c8a157 !important;
  text-transform: uppercase !important;
}

a {
  color: #c8a157;
  font-weight: bold;
}

a:hover {
  color: #c8a157;
}

.content {
  padding-top: 100px;
}

.footer {
  padding: 5% 0%;
  margin-top: 150px;
  border: 1px solid #c8a157;
  margin: 1%;
  margin-top: 15%;
  color: #c8a157;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}

.footer p {
  margin-bottom: 0px;
  font-size: 20px;
  padding-right: 10%;
  margin-bottom: 10px;
}

.footer i {
  font-size: 35px;
}

.footer a {
  font-size: 20px;
}

.footer h1 {
  font-weight: 700;
  font-size: 22px;
  margin: 0 0 0.8rem 0;
  border-bottom: 1px solid #c8a157;
  margin-bottom: 20px;
  color: #c8a157;
}

.footer .fab {
  color: #c8a157;
}

.mail-list {
  color: #ffffff;
  background: #e8ae00;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  width: 100%;
  margin-top: 200px;
  padding: 2% 0%;
}

.presentingSponsor {
  height: 250px;
  margin-bottom: 30px;
}

.diamondSponsor {
  height: 250px;
}

iframe {
  border: none;
}

img {
  max-width: 100%;
}

.iconGroup button,
.iconGroup a {
  margin-left: 5px;
  border-radius: 50%;
  padding-top: 12px;
  border: none;
}

.btnGroup .btn {
  margin-left: 5px;
}

.btn-outline-light:hover {
  background-color: #1d1d1d;
  border-color: #1d1d1d;
}

.bg-warning {
  background-color: rgba(29, 29, 29, 0.7) !important;
}

.scrolled {
  background-color: #1d1d1d !important;
}

.btn-group-lg > .btn,
.btn-lg {
  border-radius: 0;
}

.email {
  height: 70px;
  max-height: 70px;
  border-radius: 80px;
  padding-left: 25px;
  font-size: 20px;
  font-weight: 500;
  width: 400px;
  margin-bottom: 30px;
  border: none;
  max-width: 100%;
}

.email:focus {
  outline: none;
}

.pageBody {
  min-height: 900px;
}

.blog_entry_preview_title {
  color: #c8a157;
}

.hide {
  display: none;
}

.navbar-brand {
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
}

.venueMediaItem {
  width: 560px;
  height: 315px;
  max-width: 100%;
}

.center {
  text-align: center;
}

.markdown {
  text-align: left;
}

.markdown h1,
.markdown h2 {
  border-bottom: 4px solid #c8a157;
  display: table;
  margin-bottom: 20px;
  margin-top: 100px;
}

.btn-outline-warning {
  color: #c8a157;
  border-color: #c8a157;
  text-transform: uppercase !important;
}

.markdown p {
  font-size: 24px;
}

.sponsor_group img {
  max-height: 200px;
  margin-bottom: 20px;
}

.sponsor_group_title {
  margin-top: 60px;
}

.markdown img {
  max-height: 300px;
  display: table;
  margin: auto;
}

.spinner {
  display: table;
  margin: auto;
}

.failte {
  margin-top: 100px;
}

.failte img {
  width: 60%;
}

.infoIcon {
  max-width: 200px;
}

.schedule_break {
  background-color: rgba(249, 187, 0, 0.1);
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid #c8a157;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #c8a157;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 700 18px/1 "Lato", sans-serif;
  text-shadow: 0 1px 3px black;
  text-transform: uppercase;
  text-align: center;
}

.gallery {
  width: 100%;
}

.galleryLeft {
  width: 5%;
  font-size: 50px;
  color: #c8a157;
}

.galleryLeftImg {
  width: 90%;
}

.galleryImg img {
  max-width: 95%;
  max-height: 710px;
  min-height: 710px;
}

.galleryRight {
  width: 5%;
  font-size: 50px;
  color: #c8a157;
}

.clickcable {
  cursor: pointer;
}

.galleryFooter {
  padding-top: 20px;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}

.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}

.ribbon-top-left::before {
  top: 0;
  right: 0;
}

.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}

.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}

.ribbon-top-right::before {
  top: 0;
  left: 0;
}

.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}

.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}

.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}

.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}

.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}

.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}

.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}

.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}

.hashtag {
  -webkit-flex: 1 auto;
  flex: 1 auto;
  text-align: center;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  margin: 0.5rem;
  font-weight: bold;
}

.primaryHahstag {
  background-color: #c8a157;
}

.secondaryHahstag {
  background-color: #333333;
}

.cloud {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.card {
  background: #1d1d1d;
  box-shadow: -1rem 0 3rem rgb(0 0 0 / 30%);
  margin-bottom: 50px;
  border: 0.5px solid #c8a157;
  border-radius: 0;
}

.card h3 {
  margin-bottom: 0;
}

.price {
  font-size: 50px;
  font-weight: 400;
  color: #c8a157;
}

.card-footer p,
.card-body p {
  font-size: 16px !important;
}

.card-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-footer {
  border-top: 1px solid rgba(255, 193, 7, 0.125);
}

.card-header {
  border-bottom: 1px solid rgba(255, 193, 7, 0.125);
}

.btn {
  text-transform: capitalize;
}

.hero_bg {
  height: 970px;
}

.videoBg {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  height: 970px;
  width: 100vw;
  opacity: 1;
  overflow: hidden;
}

.videoBg video {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100% !important;
  height: 970px !important;
  background-color: #000;
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background: #1d1d1d;
}

.modal-header {
  border-bottom: 1px solid rgba(255, 193, 7, 0.125);
}

.modal-footer {
  border-top: 1px solid rgba(255, 193, 7, 0.125);
  justify-content: center;
}

.modal-title {
  color: #c8a157;
  text-align: center;
  width: 100%;
}

.modal-body p {
  font-size: 20px !important;
}

.table_table {
  margin: auto;
  margin-bottom: 50px;
}

.table_thead_tr {
  border-bottom: 4px solid #c8a157;
}

.table_tbody_tr {
  border-bottom: 1px solid #c8a157;
}

.table_thead_th {
  padding: 10px;
}

.table_tbody_td {
  padding: 10px;
}

.section_1,
.section_2 {
  padding: 25px 0px;
  text-align: center;
}

.section_1 {
  margin-top: 2%;
}

.section_2 {
  margin-top: 50px;
}

.section_1 p,
.section_2 p {
  font-size: 24px;
}

.section_h1 {
  border-bottom: 1px solid #c8a157;
  display: inline-block;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #c8a157;
}

.section_h2 {
  border-bottom: 1px solid #c8a157;
  display: inline-block;
  margin-bottom: 20px;
  color: #c8a157;
}

.speaker img {
  border-radius: 50%;
  width: 70%;
  margin-bottom: 20px;
  border: 1px solid #c8a157 !important;
}

.speaker p {
  margin: 0px;
  font-size: 20px !important;
  max-width: 90%;
  margin: auto;
  margin-top: 1rem;
}

.speaker .card-body {
  min-height: 350px;
}

.modal-body {
  max-height: 65vh;
  overflow-y: auto;
}

.modal-dialog {
  max-width: 90%;
  margin: auto;
  margin-top: 8%;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 768px) {
  .hero_bg {
    height: 300px;
  }

  .videoBg {
    height: 300px;
  }

  .hero_img_wrapper {
    padding-top: 5rem;
  }

  .nav-link {
    padding: 0.2rem 1rem;
  }

  .hero_img {
    max-width: 80%;
    height: 400px;
    margin: auto;
    background-image: url(/media/hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .hero_bg {
    border-bottom: 1px solid #c8a157;
  }

  .hero_img_wrapper {
    padding-top: 15rem;
  }

  .nav-link {
    padding: 0.2rem 1rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .hero_img_wrapper {
    padding-top: 15rem;
  }

  .nav-link {
    padding: 0.5rem 1rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .hero_img_wrapper {
    padding-top: 15rem;
  }

  .corner_container {
    position: relative;
  }

  .horizontal_break_6 {
    background-image: url(/media/layout/horizontal_break_5.png);
    width: 90%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    margin-top: 5%;
    transform: rotate(180deg);
  }

  .horizontal_break_5 {
    background-image: url(/media/layout/horizontal_break_5.png);
    width: 90%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    margin-top: 5%;
  }

  .horizontal_break_2 {
    background-image: url("/media/layout/horizontal_break_2.png");
    width: 50%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    margin-top: 5%;
  }

  .horizontal_break_1 {
    background-image: url("/media/layout/horizontal_break_1.png");
    width: 30%;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    margin-top: -8.5%;
  }

  .corner_container .corner-left-1 {
    background-image: url("/media/layout/left_corner_1.png");
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }

  .corner_container .corner-right-1 {
    background-image: url("/media/layout/right_corner_1.png");
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}

.image-gallery-icon {
  color: #fff;
  transition: all 0.3s ease-out;
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  z-index: 4;
  filter: drop-shadow(0 2px 2px #1a1a1a);
}

@media (hover: hover) and (pointer: fine) {
  .image-gallery-icon:hover {
    color: #337ab7;
  }

  .image-gallery-icon:hover .image-gallery-svg {
    transform: scale(1.1);
  }
}

.image-gallery-icon:focus {
  outline: 2px solid #337ab7;
}

.image-gallery-using-mouse .image-gallery-icon:focus {
  outline: none;
}

.image-gallery-fullscreen-button,
.image-gallery-play-button {
  bottom: 0;
  padding: 20px;
}

.image-gallery-fullscreen-button .image-gallery-svg,
.image-gallery-play-button .image-gallery-svg {
  height: 28px;
  width: 28px;
}

@media (max-width: 768px) {
  .image-gallery-fullscreen-button,
  .image-gallery-play-button {
    padding: 15px;
  }

  .image-gallery-fullscreen-button .image-gallery-svg,
  .image-gallery-play-button .image-gallery-svg {
    height: 24px;
    width: 24px;
  }
}

@media (max-width: 480px) {
  .image-gallery-fullscreen-button,
  .image-gallery-play-button {
    padding: 10px;
  }

  .image-gallery-fullscreen-button .image-gallery-svg,
  .image-gallery-play-button .image-gallery-svg {
    height: 16px;
    width: 16px;
  }
}

.image-gallery-fullscreen-button {
  right: 0;
}

.image-gallery-play-button {
  left: 0;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  padding: 50px 10px;
  top: 50%;
  transform: translateY(-50%);
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 120px;
  width: 60px;
}

@media (max-width: 768px) {
  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg {
    height: 72px;
    width: 36px;
  }
}

@media (max-width: 480px) {
  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg {
    height: 48px;
    width: 24px;
  }
}

.image-gallery-left-nav[disabled],
.image-gallery-right-nav[disabled] {
  cursor: disabled;
  opacity: 0.6;
  pointer-events: none;
}

.image-gallery-left-nav {
  left: 0;
}

.image-gallery-right-nav {
  right: 0;
}

.image-gallery {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
}

.image-gallery.fullscreen-modal {
  background: #000;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}

.image-gallery.fullscreen-modal .image-gallery-content {
  top: 50%;
  transform: translateY(-50%);
}

.image-gallery-content {
  position: relative;
  line-height: 0;
  top: 0;
}

.image-gallery-content.fullscreen {
  background: #000;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: calc(100vh - 80px);
}

.image-gallery-content.left .image-gallery-slide .image-gallery-image,
.image-gallery-content.right .image-gallery-slide .image-gallery-image {
  max-height: 100vh;
}

.image-gallery-slide-wrapper {
  position: relative;
}

.image-gallery-slide-wrapper.left,
.image-gallery-slide-wrapper.right {
  display: inline-block;
  width: calc(100% - 110px);
}

@media (max-width: 768px) {
  .image-gallery-slide-wrapper.left,
  .image-gallery-slide-wrapper.right {
    width: calc(100% - 87px);
  }
}

.image-gallery-slide-wrapper.image-gallery-rtl {
  direction: rtl;
}

.image-gallery-slides {
  line-height: 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  text-align: center;
}

.image-gallery-slide {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.image-gallery-slide.center {
  position: relative;
}

.image-gallery-slide .image-gallery-image {
  width: 100%;
  object-fit: contain;
}

.image-gallery-slide .image-gallery-description {
  background: rgba(0, 0, 0, 0.4);
  bottom: 70px;
  color: #fff;
  left: 0;
  line-height: 1;
  padding: 10px 20px;
  position: absolute;
  white-space: normal;
}

@media (max-width: 768px) {
  .image-gallery-slide .image-gallery-description {
    bottom: 45px;
    font-size: 0.8em;
    padding: 8px 15px;
  }
}

.image-gallery-bullets {
  bottom: 20px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 80%;
  z-index: 4;
}

.image-gallery-bullets .image-gallery-bullets-container {
  margin: 0;
  padding: 0;
  text-align: center;
}

.image-gallery-bullets .image-gallery-bullet {
  appearance: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 2px #1a1a1a;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  outline: none;
  padding: 5px;
  transition: all 0.2s ease-out;
}

@media (max-width: 768px) {
  .image-gallery-bullets .image-gallery-bullet {
    margin: 0 3px;
    padding: 3px;
  }
}

@media (max-width: 480px) {
  .image-gallery-bullets .image-gallery-bullet {
    padding: 2.7px;
  }
}

.image-gallery-bullets .image-gallery-bullet:focus {
  transform: scale(1.2);
  background: #337ab7;
  border: 1px solid #337ab7;
}

.image-gallery-bullets .image-gallery-bullet.active {
  transform: scale(1.2);
  border: 1px solid #fff;
  background: #fff;
}

@media (hover: hover) and (pointer: fine) {
  .image-gallery-bullets .image-gallery-bullet:hover {
    background: #337ab7;
    border: 1px solid #337ab7;
  }

  .image-gallery-bullets .image-gallery-bullet.active:hover {
    background: #337ab7;
  }
}

.image-gallery-thumbnails-wrapper {
  position: relative;
}

.image-gallery-thumbnails-wrapper.thumbnails-swipe-horizontal {
  touch-action: pan-y;
}

.image-gallery-thumbnails-wrapper.thumbnails-swipe-vertical {
  touch-action: pan-x;
}

.image-gallery-thumbnails-wrapper.thumbnails-wrapper-rtl {
  direction: rtl;
}

.image-gallery-thumbnails-wrapper.left,
.image-gallery-thumbnails-wrapper.right {
  display: inline-block;
  vertical-align: top;
  width: 100px;
}

@media (max-width: 768px) {
  .image-gallery-thumbnails-wrapper.left,
  .image-gallery-thumbnails-wrapper.right {
    width: 81px;
  }
}

.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails,
.image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails {
  height: 100%;
  width: 100%;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
}

.image-gallery-thumbnails-wrapper.left
  .image-gallery-thumbnails
  .image-gallery-thumbnail,
.image-gallery-thumbnails-wrapper.right
  .image-gallery-thumbnails
  .image-gallery-thumbnail {
  display: block;
  margin-right: 0;
  padding: 0;
}

.image-gallery-thumbnails-wrapper.left
  .image-gallery-thumbnails
  .image-gallery-thumbnail
  + .image-gallery-thumbnail,
.image-gallery-thumbnails-wrapper.right
  .image-gallery-thumbnails
  .image-gallery-thumbnail
  + .image-gallery-thumbnail {
  margin-left: 0;
  margin-top: 2px;
}

.image-gallery-thumbnails-wrapper.left,
.image-gallery-thumbnails-wrapper.right {
  margin: 0 5px;
}

@media (max-width: 768px) {
  .image-gallery-thumbnails-wrapper.left,
  .image-gallery-thumbnails-wrapper.right {
    margin: 0 3px;
  }
}

.image-gallery-thumbnails {
  overflow: hidden;
  padding: 5px 0;
}

@media (max-width: 768px) {
  .image-gallery-thumbnails {
    padding: 3px 0;
  }
}

.image-gallery-thumbnails .image-gallery-thumbnails-container {
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}

.image-gallery-thumbnail {
  display: inline-block;
  border: 4px solid transparent;
  transition: border 0.3s ease-out;
  width: 100px;
  background: transparent;
  padding: 0;
}

@media (max-width: 768px) {
  .image-gallery-thumbnail {
    border: 3px solid transparent;
    width: 81px;
  }
}

.image-gallery-thumbnail + .image-gallery-thumbnail {
  margin-left: 2px;
}

.image-gallery-thumbnail .image-gallery-thumbnail-inner {
  display: block;
  position: relative;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
  vertical-align: middle;
  width: 100%;
  line-height: 0;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  outline: none;
  border: 4px solid #337ab7;
}

@media (max-width: 768px) {
  .image-gallery-thumbnail.active,
  .image-gallery-thumbnail:focus {
    border: 3px solid #337ab7;
  }
}

@media (hover: hover) and (pointer: fine) {
  .image-gallery-thumbnail:hover {
    outline: none;
    border: 4px solid #337ab7;
  }
}

@media (hover: hover) and (pointer: fine) and (max-width: 768px) {
  .image-gallery-thumbnail:hover {
    border: 3px solid #337ab7;
  }
}

.image-gallery-thumbnail-label {
  box-sizing: border-box;
  color: #fff;
  font-size: 1em;
  left: 0;
  line-height: 1em;
  padding: 5%;
  position: absolute;
  top: 50%;
  text-shadow: 0 2px 2px #1a1a1a;
  transform: translateY(-50%);
  white-space: normal;
  width: 100%;
}

@media (max-width: 768px) {
  .image-gallery-thumbnail-label {
    font-size: 0.8em;
    line-height: 0.8em;
  }
}

.image-gallery-index {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  line-height: 1;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}

@media (max-width: 768px) {
  .image-gallery-index {
    font-size: 0.8em;
    padding: 5px 10px;
  }
}

.section_1 .award-rule,
.section_2 p .award-rule {
  max-width: 40vw;
  font-size: 16px;
}

.btn-disabled {
  cursor: not-allowed !important;
}

.btn-tickets {
  border: 1px solid #c8a157 !important;
  color: #1d1d1d !important;
  font-weight: bold;
  cursor: pointer !important;
  background-color: #c8a157 !important;
}

.shine {
  position: relative;
  overflow: hidden;
}

.shine::before {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  content: "";
  display: block;
  height: 100%;
  left: -75%;
  position: absolute;
  top: 0;
  transform: skewX(-25deg);
  width: 50%;
  z-index: 2;
  animation: shine 5s infinite;
}

@keyframes shine {
  0% {
    left: -75%;
  }

  50% {
    left: 125%;
  }

  50.01% {
    left: -75%;
  }

  100% {
    left: 125%;
  }
}

.global-ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.global-ribbon-content {
  position: absolute;
  display: block;
  width: 225px;
  padding: 10px 0px 5px 0px;
  color: white;
  cursor: pointer;
  border: 1px solid #c8a157;
  background-color: rgba(29, 29, 29, 0.7);
  font-size: 16px;
  text-align: center;
  font-weight: 700;
}

.global-ribbon-top-right {
  position: fixed;
  top: 72px;
  right: 0px;
  z-index: 9;
}

.global-ribbon-top-right .global-ribbon-content {
  left: -20px;
  top: 30px;
  transform: rotate(45deg);
}

.remember {
  color: #c8a157;
}
