@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&family=Josefin+Sans:wght@700&family=Poiret+One&display=swap');

body {
  background-color: #1d1d1d;
  font-family: 'Poiret One', cursive;
  color: #ffffff;
}

.navbar {
  border: 1px solid #c8a157;
}

.nav-link {
  text-transform: uppercase;
  color: #c8a157 !important;
  font-size: 1.1rem;
  padding-top: 15px;
}

.navbar-brand {
  padding-left: 5px;
  padding-top: 20px;
}

.btn-outline-warning:active, 
.btn-outline-warning:hover,
.btn-outline-light:active,
.btn-outline-light:hover {
  background-color: #c8a157 !important;
  border-color: #c8a157 !important;
  color: #1d1d1d !important;
}

.btn-outline-light {
  border-color: #c8a157 !important;
  color: #c8a157 !important;
  text-transform: uppercase !important;
}

a {
  color: #c8a157;
}

a:hover {
  color: #c8a157;
}

.content {
  padding-top: 100px;
}

.footer {
  padding: 5% 0%;
  margin-top: 150px;
  border: 1px solid #c8a157;
  margin: 1%;
  margin-top: 15%;
  color: #c8a157;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}

.footer p {
  margin-bottom: 0px;
  font-size: 20px;
  padding-right: 10%;
  margin-bottom: 10px;
}

.footer i {
  font-size: 35px;
}

.footer a {
  font-size: 20px;
}

.footer h1 {
  font-weight: 700;
  font-size: 22px;
  margin: 0 0 0.8rem 0;
  border-bottom: 1px solid #c8a157;
  margin-bottom: 20px;
  color: #c8a157;
}

.footer .fab {
  color: #c8a157;
}

.mail-list {
  color: #ffffff;
  background: #e8ae00;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  width: 100%;
  margin-top: 200px;
  padding: 2% 0%;
}

.presentingSponsor {
  height: 250px;
  margin-bottom: 30px;
}

.diamondSponsor {
  height: 250px;
}

iframe {
  border: none;
}

img {
  max-width: 100%;
}

.iconroup button,
.iconroup a {
  margin-left: 5px;
  border-radius: 50%;
  padding-top: 12px;
  border: none;
}

.btnGroup .btn {
  margin-left: 5px;
}

.btn-outline-light:hover {
  background-color: #1d1d1d;
  border-color: #1d1d1d;
}

.bg-warning {
  background-color: #1d1d1d !important;
}

.btn-group-lg>.btn, .btn-lg {
  border-radius: 0;
}

.email {
  height: 70px;
  max-height: 70px;
  border-radius: 80px;
  padding-left: 25px;
  font-size: 20px;
  font-weight: 500;
  width: 400px;
  margin-bottom: 30px;
  border: none;
  max-width: 100%;
}

.email:focus {
  outline: none;
}

.pageBody {
  min-height: 900px;
}

.blog_entry_preview_title {
  color: #c8a157;
}

.hide {
  display: none;
}

.navbar-brand {
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
}

.venueMediaItem {
  width: 560px;
  height: 315px;
  max-width: 100%;
}

.center {
  text-align: center;
}

.markdown {
  text-align: left;
}

.markdown h1,
.markdown h2 {
  border-bottom: 4px solid #c8a157;
  display: table;
  margin-bottom: 20px;
  margin-top: 100px;
}

.btn-outline-warning {
  color: #c8a157;
  border-color: #c8a157;
  text-transform: uppercase !important;
}

.markdown p {
  font-size: 24px;
}

.sponsor_group img {
  max-height: 200px;
  margin-bottom: 20px;
}

.sponsor_group_title {
  margin-top: 60px;
}

.markdown img {
  max-height: 300px;
  display: table;
  margin: auto;
}

.spinner {
  display: table;
  margin: auto;
}

.failte {
  margin-top: 100px;
}

.failte img {
  width: 60%;
}

.infoIcon {
  max-width: 200px;
}

.schedule_break {
  background-color: rgba(249, 187, 0, 0.1);
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid #c8a157;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #c8a157;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 700 18px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}

.gallery {
  width: 100%;
}

.galleryLeft {
  width: 5%;
  font-size: 50px;
  color: #c8a157;
}

.galleryLeftImg {
  width: 90%;
}

.galleryImg img {
  max-width: 95%;
  max-height: 710px;
  min-height: 710px;
}

.galleryRight {
  width: 5%;
  font-size: 50px;
  color: #c8a157;
}

.clickcable {
  cursor: pointer;
}

.galleryFooter {
  padding-top: 20px;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}

.hashtag {
  -webkit-flex: 1 auto;
  flex: 1 auto;
  text-align: center;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  margin: 0.5rem;
  font-weight: bold;
}

.primaryHahstag {
  background-color: #c8a157;
}

.secondaryHahstag {
  background-color: #333333;
}

.cloud {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .hero_h2 {
    font-size: 15px;
  }

  .hero_h3 {
    font-size: 15px;
  }

  .hero_h1 {
    font-size: 50px;
  }

  .hero_img {
    width: 90px;
  }
}

.card {
  background: #1d1d1d;
  box-shadow: -1rem 0 3rem #000;
  margin-bottom: 50px;
  border: 0.5px solid #c8a157;
  border-radius: 0;
}

.card h3 {
  margin-bottom: 0;
}

.price {
  font-size: 50px;
  font-weight: 400;
  color: #c8a157;
}

.card-footer p, .card-body p {
  font-size: 14px !important;
}

.card-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-footer {
  border-top: 1px solid rgba(255, 193, 7, 0.125);
}

.card-header {
  border-bottom: 1px solid rgba(255, 193, 7, 0.125);
}

.btn {
  text-transform: capitalize;
}

.hero_bg {
  padding: 20% 0% 12.5% 0%;
  border-bottom: 1px solid #c8a157;
  height: 890px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('/media/hero-overlay.svg');
}

.videoBg {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  height: 890px;
  width: 98.9vw;
  opacity: 1;
  overflow: hidden;
}

.videoBg video {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
}

.hero {
  width: 50%;
  margin: 0% auto 0px auto;
}

.hero_img {
  width: 190px;
  max-width: inherit !important;
}

.hero_logo {
  min-width: 192px;
  vertical-align: top;
}

.hero_title {
  width: 75%;
  padding: 0px 0px 0px 10px;
  vertical-align: top;
}

.hero_h1 {
  font-size: 113px;
  font-weight: bold;
  margin: 0px;
  padding-top: 5px;
  font-family: 'Josefin Sans', sans-serif;
}

.hero_h2 {
  font-size: 28px;
  margin: 0px;
  text-align: center;
}

.hero_h3 {
  font-size: 28px;
  margin: 0px;
  padding-left: 5px;
  text-align: center;
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background: #1d1d1d;
}

.modal-header {
  border-bottom: 1px solid rgba(255, 193, 7, 0.125);
}

.modal-footer {
  border-top: 1px solid rgba(255, 193, 7, 0.125);
  justify-content: center;
}

.modal-title {
  color: #c8a157;
  text-align: center;
  width: 100%;
}

.modal-body p {
  font-size: 14px !important;
}

.modal-dialog {
  max-width: 50%;;
}

.table_table {
  margin: auto;
  margin-bottom: 50px;
}

.table_thead_tr {
  border-bottom: 4px solid #c8a157;
}

.table_tbody_tr {
  border-bottom: 1px solid #c8a157;
}

.table_thead_th {
  padding: 10px;
}

.table_tbody_td {
  padding: 10px;
}

.section_1, .section_2 {
  padding: 25px 0px;
  text-align: center;
}

.section_1 {
  margin-top: 2%;
}

.section_2 {
  margin-top: 50px;
}

.section_1 p, .section_2 p {
  font-size: 24px;
}

.section_h1 {
  border-bottom: 1px solid #c8a157;
  display: inline-block;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #c8a157;
}

.section_h2 {
  border-bottom: 1px solid #c8a157;
  display: inline-block;
  margin-bottom: 20px;
  color: #c8a157;
}

.speaker img {
  border-radius: 50%;
  width: 70%;
  margin-bottom: 20px;
  border: 1px solid #c8a157 !important;
}

.speaker p {
  margin: 0px;
  font-size: 20px !important;
  max-width: 90%;
  margin: auto;
}

.speaker .card-body {
  min-height: 370px;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .hero_bg {
    height: 300px;
  }

  .videoBg {
    height: 300px;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .corner_container {
    position: relative;
  }

  .horizontal_break_6 {
    background-image: url(/media/layout/horizontal_break_5.png);
    width: 90%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    margin-top: 5%;
    transform: rotate(180deg);
  }

  .horizontal_break_5 {
    background-image: url(/media/layout/horizontal_break_5.png);
    width: 90%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    margin-top: 5%;
  }

  .horizontal_break_2 {
    background-image: url('/media/layout/horizontal_break_2.png');
    width: 50%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    margin-top: 5%;
  }

  .horizontal_break_1 {
    background-image: url('/media/layout/horizontal_break_1.png');
    width: 30%;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    margin-top: -8.5%;
  }

  .corner_container .corner-left-1 {
    background-image: url('/media/layout/left_corner_1.png');
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute; 
    bottom: 0px; 
    left: 0px;
  }
  
  .corner_container .corner-right-1 {
    background-image: url('/media/layout/right_corner_1.png');
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute; 
    bottom: 0px; 
    right: 0px;
  }
}
