body {
  background-color: #100e17;
  font-family: 'Josefin Sans', sans-serif;
  color: #ffffff;
}

a {
  color: #ffc107;
}

a:hover {
  color: #ffc107;
}

.content {
  padding-top: 100px;
}

.footer {
  padding: 5% 0%;
  text-align: center;
  background-color: #ffc107;
  margin-top: 150px;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255, 1);
}

.footer p {
  margin-bottom: 0px;
}

.mail-list {
  color: #ffffff;
  background: #e8ae00;
  clear: left;
  font: 14px Helvetica, Arial,sans-serif;
  width:100%;
  margin-top: 200px;
  padding: 2% 0%;
}

.presentingSponsor {
  height: 250px;
  margin-bottom: 30px;
}

.diamondSponsor {
  height: 250px;
}

iframe {
  border: none;
}

.venueMediaItem {
  width: 560px;
  height: 315px;
}

img {
  max-width: 100%;
}

.iconroup button {
  margin-left: 5px;
  border-radius: 50%;
  padding-top: 12px;
  border: none;
}

.btnGroup button {
  margin-left: 5px;
}

.email {
  height: 70px;
  max-height: 70px;
  border-radius: 80px;
  padding-left: 25px;
  font-size: 20px;
  font-weight: 500;
  width: 400px;
  margin-bottom: 30px;
  border: none;
}

.email:focus {
  outline: none;
}
.pageBody {
  min-height: 500px;
}
