body {
  background-color: #100e17;
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
}

a {
  color: #f9bb00;
}

a:hover {
  color: #f9bb00;
}

.content {
  padding-top: 100px;
}

.footer {
  padding: 5% 0%;
  background-color: #f9bb00;
  margin-top: 150px;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}

.footer p {
  margin-bottom: 0px;
  font-size: 20px;
  padding-right: 10%;
  margin-bottom: 10px;
}

.footer i {
  font-size: 35px;
}

.footer a {
  color: #ffffff;
  font-size: 20px;
}

.footer h1 {
  font-weight: 700;
  font-size: 22px;
  margin: 0 0 0.8rem 0;
}

.mail-list {
  color: #ffffff;
  background: #e8ae00;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  width: 100%;
  margin-top: 200px;
  padding: 2% 0%;
}

.presentingSponsor {
  height: 250px;
  margin-bottom: 30px;
}

.diamondSponsor {
  height: 250px;
}

iframe {
  border: none;
}

img {
  max-width: 100%;
}

.iconroup button,
.iconroup a {
  margin-left: 5px;
  border-radius: 50%;
  padding-top: 12px;
  border: none;
}

.btnGroup .btn {
  margin-left: 5px;
}

.btn-outline-light:hover {
  color: #f9bb00;
  background-color: #100e17;
  border-color: #100e17;
}

.email {
  height: 70px;
  max-height: 70px;
  border-radius: 80px;
  padding-left: 25px;
  font-size: 20px;
  font-weight: 500;
  width: 400px;
  margin-bottom: 30px;
  border: none;
  max-width: 100%;
}

.email:focus {
  outline: none;
}

.pageBody {
  min-height: 900px;
}

.blog_entry_preview_title {
  color: #f9bb00;
}

.hide {
  display: none;
}

.navbar-brand {
  font-weight: bold;
}

.venueMediaItem {
  width: 560px;
  height: 315px;
  max-width: 100%;
}

.center {
  text-align: center;
}

.markdown {
  text-align: left;
}

.markdown h1,
.markdown h2 {
  border-bottom: 4px solid #f9bb00;
  display: table;
  margin-bottom: 20px;
  margin-top: 100px;
}

.markdown p {
  font-size: 24px;
}

.sponsor_group img {
  max-height: 200px;
  margin-bottom: 20px;
}

.sponsor_group_title {
  margin-top: 60px;
}

.markdown img {
  max-height: 300px;
  display: table;
  margin: auto;
}

.spinner {
  display: table;
  margin: auto;
}

.failte {
  margin-top: 100px;
}

.failte img {
  width: 60%;
}

.infoIcon {
  max-width: 200px;
}

.schedule_break {
  background-color: rgba(249, 187, 0, 0.1);
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .hero_h2 {
    font-size: 15px;
  }

  .hero_h3 {
    font-size: 15px;
  }

  .hero_h1 {
    font-size: 50px;
  }

  .hero_img {
    width: 90px;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
